# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/openmargam?schema=public"

# Auth
JWT_SECRET="change-me-in-production-min-32-chars-string"
SESSION_COOKIE_NAME="openmargam_session"

# App
NEXT_PUBLIC_APP_NAME="OpenMargam"
